# Project 1 -- Aditya Mishra

**TA Help:** N/A
   
**Collaboration:** N/A

## Question 1

Ans 1A. Anvil's subcluster A has 1000 nodes with 128 cores per node and 256 GB memory per node. Hence, the total number of cores are 128 x 1000 = 128000 nodes and the total memory is 256 x 1000 = 256000 GB of memory.

Ans 1B. My PC has 8 cores and 16 GB of RAM (15.6 GB usable).

## Question 2

In [10]:
#2A. In Python

import socket
print(socket.gethostname())

a240.anvil.rcac.purdue.edu

Using Python, the name of the node we are using on Anvil is "a240.anvil.rcac.purdue.edu".

In [11]:
%%bash

#2B. In Bash

hostname

a240.anvil.rcac.purdue.edu

Using Bash, the name of the node we are using on Anvil is "a240.anvil.rcac.purdue.edu".

In [18]:
%%R

#2C. In R

system("hostname", intern=TRUE)

[1] "a240.anvil.rcac.purdue.edu"

Using R, the name of the node we are using on Anvil is "a240.anvil.rcac.purdue.edu".

## Question 3

In [30]:
import pandas as pd
df = pd.read_csv('/anvil/projects/tdm/data/flights/subset/1991.csv')

In [31]:
df[df["Month"]==12].head() # see information about a few of the flights from December 1991

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4657380,1991,12,29,7,1631.0,1630,1829.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657381,1991,12,30,1,1630.0,1630,1823.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657382,1991,12,31,2,1628.0,1630,1820.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657383,1991,12,1,7,1922.0,1922,2040.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657384,1991,12,2,1,2005.0,1922,2119.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [32]:
%%sql 

sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

In [33]:
%%sql

-- see information about a few TV episodes called "Finale"
SELECT *
FROM episodes AS e
INNER JOIN titles AS t
ON t.title_id = e.episode_title_id
WHERE t.primary_title = 'Finale'
LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt0506978', 'tt0285332', 1, 22, 'tt0506978', 'tvEpisode', 'Finale', 'Finale', 0, 2002, None, None, 'Drama,Thriller'),
 ('tt0519805', 'tt0210405', 3, 10, 'tt0519805', 'tvEpisode', 'Finale', 'Finale', 0, 1993, None, None, 'Drama'),
 ('tt0566236', 'tt0169438', 8, 31, 'tt0566236', 'tvEpisode', 'Finale', 'Finale', 0, 2005, None, None, 'Drama,Sport'),
 ('tt0566422', 'tt0111945', 9, 26, 'tt0566422', 'tvEpisode', 'Finale', 'Finale', 0, 2004, None, None, 'Comedy,Drama'),
 ('tt0581864', 'tt0044263', 2, 1, 'tt0581864', 'tvEpisode', 'Finale', 'Finale', 0, 1953, None, 30, 'Comedy,Crime,Drama')]

In [17]:
%%bash

names="John Doe;Bill Withers;Arthur Morgan;Mary Jane;Rick Ross;John Marston"
echo $names | cut -d ';' -f 3
echo $names | cut -d ';' -f 6

Arthur Morgan
John Marston

## Question 4

In [23]:
#Ans 4A. In Python

mem = 256000 #Memory in Anvil subcluster A in GB
gb_to_b = 1000000000 #Conversion factor from GB to Bytes
gb_to_tb = 1000 #Conversion factor from GB to TB

memb = str(mem * gb_to_b)
memtb = str(mem / gb_to_tb)

print("The memory of Anvil subcluster A is " + memb + " bytes.")
print("The memory of Anvil subcluster A is " + memtb + " terabytes.")

The memory of Anvil subcluster A is 256000000000000 bytes.
The memory of Anvil subcluster A is 256.0 terabytes.

In [29]:
%%R

#Ans 4A. In R

mem <- 256000 #Memory in Anvil subcluster A in GB
gb_to_b <- 1000000000 #Conversion factor from GB to Bytes
gb_to_tb <- 1000 #Conversion factor from GB to TB

memb <- mem * gb_to_b
memtb <- mem / gb_to_tb

print(paste("The memory of Anvil subcluster A is", memb, "bytes."))
print(paste("The memory of Anvil subcluster A is", memtb, "terabytes."))

[1] "The memory of Anvil subcluster A is 2.56e+14 bytes."
[1] "The memory of Anvil subcluster A is 256 terabytes."

## Question 5

In [57]:
%%R

dat <- read.csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [58]:
%%R

head(dat)

        date            datetime SACTMIN SPOSTMIN
1 05/26/2017 2017-05-26 09:06:38      NA     -999
2 05/26/2017 2017-05-26 09:10:11      47       NA
3 05/26/2017 2017-05-26 09:10:12      NA        5
4 05/26/2017 2017-05-26 09:17:09      NA       60
5 05/26/2017 2017-05-26 09:24:07      NA       60
6 05/26/2017 2017-05-26 09:30:10      NA       60

In [59]:
%%R

flight_of_passage <- dat

rm(dat)

In [60]:
%%R

head(flight_of_passage)

        date            datetime SACTMIN SPOSTMIN
1 05/26/2017 2017-05-26 09:06:38      NA     -999
2 05/26/2017 2017-05-26 09:10:11      47       NA
3 05/26/2017 2017-05-26 09:10:12      NA        5
4 05/26/2017 2017-05-26 09:17:09      NA       60
5 05/26/2017 2017-05-26 09:24:07      NA       60
6 05/26/2017 2017-05-26 09:30:10      NA       60

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.